h2 New Instance
form(method='post', action='/instances')
  div
    label Provider Name:
      input(name='providerName', value='')
    div
    label Name:
      input(name='sname', value='')  
  div
    label Count:
      input(name='counts', value='')
  div
    input(type='submit', value='Create')