h2 New Cart
form(method='post', action='/carts')
  div
    label Name:
      input(name='name', value='')
  div
    label UserID:
      input(name='muserid', value='')
  div  
    label InstanceID:
      input(name='instanceid', value='')
  div
    label Product ID:
      input(name='prodId', value='')  
    label Quantity:
      textarea(name='quantity', value="" )
    label Product Name:
      textarea(name='prodName', value="" )
   label Price:
      textarea(name='price', value="" )
  div
    label Product ID:
      input(name='prodId', value='')  
    label Quantity:
      textarea(name='quantity', value="" )
    label Product Name:
      textarea(name='prodName', value="" )
   label Price:
      textarea(name='price', value="" )
  div
    label Product ID:
      input(name='prodId', value='')  
    label Quantity:
      textarea(name='quantity', value="" )
    label Product Name:
      textarea(name='prodName', value="" )
   label Price:
      textarea(name='price', value="" )	
      
  div
    input(type='submit', value='New Cart')