h2 New User
form(method='post', action='/users')
  div
    label Name:
      input(name='name', value='')
  div
    label UserID:
      input(name='userid', value='')
  div
    input(type='submit', value='Create')